<%= form_with(model: characteristics_product) do |form| %>
  <% if characteristics_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(characteristics_product.errors.count, "error") %> prohibited this characteristics_product from being saved:</h2>

      <ul>
        <% characteristics_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :characteristic_id %>
    <%= form.text_field :characteristic_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
