<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @characteristic.name %>
</p>

<p>
  <strong>Measure unit:</strong>
  <%= @characteristic.measure_unit.name %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @characteristic.subcategory.name %>
</p>

<%= link_to 'Edit', edit_characteristic_path(@characteristic) %> |
<%= link_to 'Back', characteristics_path %>
