<ol class="breadcrumb shadow-sm">
    <li class="breadcrumb-item"><a href=<%= products_path %>>Домой</a></li>
    <li class="breadcrumb-item"><a href=<%= category_path(@subcategory.category) %>><%= @subcategory.category.name %></a></li>
    <li class="breadcrumb-item active"><%= @subcategory.name %></li>
</ol>
<p id="notice"><%= notice %></p>

<div class="row">
  <%= render partial: 'products/product', collection: @subcategory.products %>
</div>
