<%= form_with scope: parsing_job, url: parsing_jobs_path do |form| %>
  <% if parsing_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parsing_job.errors.count, "error") %> prohibited this parsing_job from being saved:</h2>

      <ul>
        <% parsing_job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subcategory, class: 'form-label' %>
    <select name="parsing_job[subcategory_id]" id="parsing_job_subcategory" class="form-select">
      <% Subcategory.all.each do |subcat| %>
        <option value="<%= subcat.id %>"><%= subcat.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :target_site, class: 'form-label' %>
    <%= form.text_field :target_site, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :catalog_url, class: 'form-label' %>
    <%= form.text_field :catalog_url, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :product_selector, class: 'form-label' %>
    <%= form.text_field :product_selector, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :title_selector, class: 'form-label' %>
    <%= form.text_field :title_selector, class: 'form-control' %>
  </div> 

  <div class="field">
    <%= form.label :price_selector, class: 'form-label' %>
    <%= form.text_field :price_selector, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :image_selector, class: 'form-label' %>
    <%= form.text_field :image_selector, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :characteristics_selector, class: 'form-label' %>
    <%= form.text_field :characteristics_selector, class: 'form-control' %>
  </div>

  <div class="actions btn ">
    <%= form.submit %>
  </div>
<% end %>
