<ol class="breadcrumb shadow-sm">
    <li class="breadcrumb-item"><a href=<%= @products_path %>>Домой</a></li>
    <li class="breadcrumb-item"><a href=<%= category_path(@product.subcategory.category) %>><%= @product.subcategory.category.name %></a></li>
    <li class="breadcrumb-item"><a href=<%= subcategory_path(@product.subcategory) %>><%= @product.subcategory.name %></a></li>
    <li class="breadcrumb-item active"><%= @product.name %></li>
</ol>
<p id="notice"><%= notice %></p>

<h3>
  <%= @product.name %>
</h3>

<p>
  <strong>Цена:</strong>
  <%= @product.price %>
</p>
<img class="" src=<%= @product.picture_url || asset_path("product_cards/#{@product.id}.jpg")   %> >



<div class="specs">
  <h2>Характеристики:</h2>
    <% @product.characteristics_products.each do |spec| %>
      <%= spec.characteristic.name %>: 
      <%= spec.value %> 
      <%= spec.characteristic.measure_unit.name %>
      <br />
    <% end %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
